{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriClima</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://js.arcgis.com/4.25/esri/themes/light/main.css">
</head>
<body>

    <div class="container">
        <div class="navbar">
            <h1 class="navbar-brand">AgriClima</h1>
            <ul class="navbar-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Documentação</a></li>
            </ul>
        </div>
    
        <div class="content">
            <!-- Conteúdo da página aqui -->
            <h1>Séries Históricas de Estações</h1>
            <p id="description">Selecione uma estação no mapa abaixo para fazer download</p>
        </div>

        <div id="map-container">
            <div id="map"></div>
            <div id="modal-overlay">
                <div class="form-modal">
                    <h2>Selecione a Estação</h2>
                    <div class="search-mode-buttons">
                        <button id="mode1-btn" class="active" onclick="setSearchMode(1)">Busca padrão</button>
                        <button id="mode2-btn" onclick="setSearchMode(2)">Busca por Coordenadas</button>
                    </div>
                    <div id="form1">
                        <form id="station-form" action="#" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nome-estacao">Nome da Estação</label>
                                <input type="text" id="nome-estacao" name="nome-estacao" placeholder="Digite o nome da Estação" required>
                            </div>
                            <div class="form-group">
                                <label for="cod-estacao">Código da Estação</label>
                                <input type="text" id="cod-estacao" name="cod-estacao" placeholder="Digite o código da Estação" required>
                            </div>

                            
                            <label for="fonte">Fonte:</label>
                            <select id="fonte" name="fonte" required>
                                <option value="ANA">ANA</option>
                                <option value="INMET">INMET</option>
                            </select>
                            <div class="form-group">
                                <input type="submit" value="Buscar">
                            </div>
                        </form>
                    </div>
                    <div id="form2" style="display: none;">
                        <form id="search-coordinates-form" action="#" method="post" onsubmit="return findNearestStations(event)">
                            <div class="form-group">
                                <label for="latitude">Latitude</label>
                                <input type="text" id="latitude" name="latitude" placeholder="Digite a latitude" required>
                            </div>
                            <div class="form-group">
                                <label for="longitude">Longitude</label>
                                <input type="text" id="longitude" name="longitude" placeholder="Digite a longitude" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Buscar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal para exibir o arquivo CSV -->
            <div id="csv-modal" style="display: none;">
                <div class="modal-content">
                    <span class="close" onclick="closeCsvModal()">&times;</span>
                    <h2>Arquivo CSV</h2>
                    <p id="csv-file-path"></p>
                    <button id="download-csv-btn">Baixar CSV</button>
                    <button id="close-modal-btn" onclick="closeCsvModal()">Fechar</button>
                </div>
            </div>

        </div>

        <!-- Modal para selecionar datas para estações do INMET -->
        <div id="inmet-date-modal" style="display: none;">
            
            <span class="close" onclick="closeInmetDateModal()">&times;</span>
            <h2>Selecionar Período para Dados INMET</h2>
            <p>Selecione um período de 6 meses</p>
            <form id="inmet-date-form" action="#" method="post">
                <div class="form-group">
                    <label for="start-date">Data de Início</label>
                    <input type="date" id="start-date" name="start-date" required>
                </div>
                <div class="form-group">
                    <label for="end-date">Data Final</label>
                    <input type="date" id="end-date" name="end-date" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Buscar">
                </div>
            </form>
            
        </div>

        <!-- Modal para exibir as estações mais próximas -->
        <div id="nearest-stations-modal" style="display: none;">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Estações Mais Próximas</h2>
                <div class="table-container">
                    <table id="nearest-stations-table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="select-all-checkbox"></th>
                                <th>Nome</th>
                                <th>Código</th>
                                <th>Fonte</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Esta área será preenchida dinamicamente -->
                        </tbody>
                    </table>
                </div>
                <button id="download-selected-stations" onclick="downloadSelectedStations()">Baixar Selecionados</button>
            </div>
        </div>

        <!-- Modal Loading -->
        <div id="loading-modal" style="display: none;">
            <div class="loading-content">
                <div class="loader"></div>
                <p>Carregando...</p>
            </div>
        </div>
    </div>

    <!-- Leaflet.js CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
    <!-- PapaParse.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

    <!-- Mapa -->
    <script type="text/javascript" src = "{% static 'js/mapa.js' %}" ></script>

    <!-- Script para lidar com o formulário 1 e modal -->
    <script>
        document.getElementById('station-form').addEventListener('submit', function(event) {
            event.preventDefault();

            var stationName = document.getElementById('nome-estacao').value;
            var stationCode = document.getElementById('cod-estacao').value;

            // Verificar se a estação selecionada é do INMET
            var selectedStation = estacoesData.find(estacao => estacao.codigo === stationCode);
            if (selectedStation && selectedStation.fonte === 'INMET') {
                // Abrir modal para selecionar datas
                document.getElementById('inmet-date-modal').style.display = 'block';
            } else {
                // Enviar formulário normalmente
                submitStationForm();
            }
        });

        document.getElementById('inmet-date-form').addEventListener('submit', function(event) {
            event.preventDefault();
            submitStationForm();
        });

        function submitStationForm() {
            document.getElementById('loading-modal').style.display = 'flex';

            var formData = new FormData(document.getElementById('station-form'));

            var startDate = document.getElementById('start-date').value;
            var endDate = document.getElementById('end-date').value;

            if (startDate && endDate) {
                formData.append('start-date', startDate);
                formData.append('end-date', endDate);
            }

            fetch('{% url "download_station_data" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            document.getElementById('loading-modal').style.display = 'none';

            if (data.success) {
                if (data.file_path && data.file_name) {
                    var filePath = data.file_path.replace(/\//g, '-');
                    var url = '{% url "csv_view" "file_name_placeholder" "file_path_placeholder" %}'
                                .replace('file_name_placeholder', data.file_name)
                                .replace('file_path_placeholder', encodeURIComponent(filePath));
                    window.location.href = url;
                } else {
                    console.warn('Caminho ou nome do arquivo não encontrado na resposta.');
                }
            } else {
                // alert('Erro: ' + data.error);
            }
        })
        .catch(error => {
            document.getElementById('loading-modal').style.display = 'none';
            if (!error.message.includes("Cannot read properties of undefined (reading 'file_path')")) {
                // alert('Erro: ' + error.message);
            } else {
                console.warn('Erro: ' + error.message);
            }
        });
        }

        function closeInmetDateModal() {
            document.getElementById('inmet-date-modal').style.display = 'none';
        }



        function downloadSelectedStations() {
                var selectedStations = [];
                var checkboxes = document.querySelectorAll('#nearest-stations-table tbody input[type="checkbox"]:checked');
                checkboxes.forEach(checkbox => {
                    var row = checkbox.closest('tr');
                    var station = {
                        codigo: row.cells[2].innerText,
                        nome: row.cells[1].innerText,
                        fonte: row.cells[3].innerText,
                        latitude: row.cells[4].innerText,
                        longitude: row.cells[5].innerText
                    };
                    selectedStations.push(station);
                });

                if (selectedStations.length === 0) {
                    alert('Nenhuma estação selecionada.');
                    return;
                }

                var hasInmetStation = selectedStations.some(station => station.fonte === 'INMET');
                if (hasInmetStation) {
                    document.getElementById('inmet-date-modal').style.display = 'block';
                    return;
                }

                submitSelectedStationsForm(selectedStations);
            }

            function submitSelectedStationsForm(selectedStations) {
                document.getElementById('loading-modal').style.display = 'flex';

                fetch('{% url "download_multiple_stations_data" %}', {
                    method: 'POST',
                    body: JSON.stringify(selectedStations),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('loading-modal').style.display = 'none';

                    if (data.success) {
                        var firstFile = data.results[0];
                        var filePath = firstFile.file_path.replace(/\//g, '-');
                        var fileName = firstFile.file_name;

                        var url = '{% url "csv_view" "file_name_placeholder" "file_path_placeholder" %}'
                                    .replace('file_name_placeholder', fileName)
                                    .replace('file_path_placeholder', encodeURIComponent(filePath));
                        window.location.href = url;
                    } else {
                        // alert('Erro: ' + data.error);
                    }
                })
                .catch(error => {
                    document.getElementById('loading-modal').style.display = 'flex';
                    // alert('Erro: ' + error);
                    
                });
            }

            document.getElementById('inmet-date-form').addEventListener('submit', function(event) {
                event.preventDefault();

                var startDate = document.getElementById('start-date').value;
                var endDate = document.getElementById('end-date').value;
                
                var selectedStations = [];
                var checkboxes = document.querySelectorAll('#nearest-stations-table tbody input[type="checkbox"]:checked');
                checkboxes.forEach(checkbox => {
                    var row = checkbox.closest('tr');
                    var station = {
                        codigo: row.cells[2].innerText,
                        nome: row.cells[1].innerText,
                        fonte: row.cells[3].innerText,
                        latitude: row.cells[4].innerText,
                        longitude: row.cells[5].innerText
                    };
                    selectedStations.push(station);
                });


                if (startDate && endDate) {
                    selectedStations.forEach(station => {
                        station['start-date'] = startDate;
                        station['end-date'] = endDate;
                    });
                }

                document.getElementById('inmet-date-modal').style.display = 'none';
                console.log(selectedStations)
                submitSelectedStationsForm(selectedStations);
            });

            function closeInmetDateModal() {
                document.getElementById('inmet-date-modal').style.display = 'none';
            }

            // Função de busca por coordenadas
            function findNearestStations(event) {
                event.preventDefault();
                
                var lat = parseFloat(document.getElementById('latitude').value);
                var lng = parseFloat(document.getElementById('longitude').value);
                
                if (isNaN(lat) || isNaN(lng)) {
                    alert('Por favor, preencha as coordenadas de latitude e longitude.');
                    return;
                }
                
                var estacoesComDistancia = estacoesData.map(function(estacao) {
                    estacao.distance = getDistance(lat, lng, estacao.latitude, estacao.longitude);
                    return estacao;
                });
                
                estacoesComDistancia.sort(function(a, b) {
                    return a.distance - b.distance;
                });

                var nearestStations = estacoesComDistancia.slice(0, 10);

                var tableBody = document.querySelector('#nearest-stations-table tbody');
                tableBody.innerHTML = '';
                nearestStations.forEach(function(estacao) {
                    var row = document.createElement('tr');
                    row.innerHTML = `
                        <td><input type="checkbox" class="station-checkbox" data-nome="${estacao.nome}" data-codigo="${estacao.codigo}" data-fonte="${estacao.fonte}" data-latitude="${estacao.latitude}" data-longitude="${estacao.longitude}"></td>
                        <td>${estacao.nome}</td>
                        <td>${estacao.codigo}</td>
                        <td>${estacao.fonte}</td>
                        <td>${estacao.latitude}</td>
                        <td>${estacao.longitude}</td>
                    `;
                    tableBody.appendChild(row);
                });

                document.getElementById('nearest-stations-modal').style.display = 'block';

                var selectAllCheckbox = document.getElementById('select-all-checkbox');
                selectAllCheckbox.addEventListener('change', function() {
                    var checkboxes = document.querySelectorAll('.station-checkbox');
                    checkboxes.forEach(function(checkbox) {
                        checkbox.checked = selectAllCheckbox.checked;
                    });
                });

                updateNearestStations(lat, lng);
            }

            function closeModal() {
                document.getElementById('nearest-stations-modal').style.display = 'none';
            }


            // Validação intervalo de data INMET
            document.getElementById('inmet-date-form').addEventListener('submit', function(event) {
            event.preventDefault();

            var startDateInput = document.getElementById('start-date');
            var endDateInput = document.getElementById('end-date');

            var startDate = new Date(startDateInput.value);
            var endDate = new Date(endDateInput.value);

            // Calcule a diferença em meses
            var monthsDifference = (endDate.getFullYear() - startDate.getFullYear()) * 12 + (endDate.getMonth() - startDate.getMonth());

            if (monthsDifference > 6) {
                alert('O intervalo entre as datas não pode ser superior a 6 meses.');
                return false;
            }

            // Se a validação for bem-sucedida, submeter o formulário
            submitStationForm();
        });

        document.getElementById('start-date').addEventListener('change', function() {
            var startDate = new Date(this.value);
            var endDateInput = document.getElementById('end-date');

            // Define a data mínima para a data final como a data de início
            endDateInput.min = this.value;

            // Calcula a data máxima para a data final (6 meses após a data de início)
            var maxEndDate = new Date(startDate);
            maxEndDate.setMonth(startDate.getMonth() + 6);

            endDateInput.max = maxEndDate.toISOString().split('T')[0];
        });
    </script>
 
</body>
</html>
