{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriClima</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://js.arcgis.com/4.25/esri/themes/light/main.css">
</head>
<body>

    <div class="container">
        <div class="navbar">
            <h1 class="navbar-brand">AgriClima</h1>
            <ul class="navbar-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Documentação</a></li>
                <li><a href="#">Sair</a></li>
            </ul>
        </div>
    
        <div class="content">
            <!-- Conteúdo da página aqui -->
            <h1>Título da Página</h1>
            <p>Conteúdo da página vai aqui...</p>

            
        </div>

        <div class="form-container">
            <h2>Selecione o Município</h2>
            <div id="map"></div>
            <form action="#" method="post">
                <div class="form-group">
                    <label for="municipio">Município:</label>
                    <input type="text" id="municipio" name="municipio" placeholder="Digite o nome do município" required>
                </div>
                <div class="form-group">
                    <label for="data_inicio">Data de Início:</label>
                    <input type="date" id="data_inicio" name="data_inicio" required>
                </div>
                <div class="form-group">
                    <label for="data_fim">Data de Fim:</label>
                    <input type="date" id="data_fim" name="data_fim" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>

    </div>

    
        <!-- Leaflet.js CDN -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

        
        <!-- PapaParse.js CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

        <!-- Mapa -->
        <script type="text/javascript" src = "{% static 'js/mapa.js' %}" ></script>

    

</body>
</html>
